* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}

#header {
    background-color: #177245;
    color: white;
    padding: 1.5rem;
}

h1, h2, h3 {
    padding: .5rem;
    font-family: "Jersey 25", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 5px;
}

.nav {
    background-color: #355E3B;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav p {
    padding: 1.5rem;
    font-size: 1rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.main {
    background-color: #90EE90;
    grid-column: 1/2;
}

.aside {
    background-color: #D0F0C0;
    grid-column: 2/3;
}

footer {
    background-color: #177245;
    color: white;
    padding: 2rem;
    text-align: center;
}
footer p {
    font-size: 2rem;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}

